.todo {
    background-color: rgb(244, 244, 244);
    width: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    margin: auto;
    border-radius: 9px;
    padding: 2em;
    height: 125px;
    box-shadow: rgba(100, 100, 111, 0.924) 0px 7px 29px 0px;
}
.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input {
    padding: 20px;
    border-radius: 9px;
    flex: 1;
    font-size: 20px;
    width: 100%;
    outline: none;
    border: none;
    transition: 0.1s ease all;
}

.input:focus {
    
    padding: 17px;
    transition: border 0.1s ease all;
    border: 3px solid #196BCA;
}

.label {
    display: none;
}

.btn {
    margin-left: 10px;
    color: white;
    box-shadow: rgba(59, 74, 189, 0.474) 0px 7px 29px 0px;
 background: linear-gradient(to right,#196BCA ,#6433E0);
}

.btn:hover {
    background: linear-gradient(to right,#196BCAda ,#196BCAda);}